<?xml version="1.0"?>
<config>
    <modules>
        <Daffodil_Stock>
            <version>0.1.0</version>
        </Daffodil_Stock>
    </modules>
    <frontend>
        <routers>
            <stock>
                <use>standard</use>
                <args>
                    <module>Daffodil_Stock</module>
                    <frontName>stock</frontName>
                </args>
            </stock>
        </routers>
        <layout>
            <updates>
                <stock>
                    <file>stock.xml</file>
                </stock>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <stock>
                <class>Daffodil_Stock_Helper</class>
            </stock>
        </helpers> 
        <blocks>
            <stock>
                <class>Daffodil_Stock_Block</class>
            </stock>
        </blocks>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <stock>
                                            <title>Stock Management</title>
                                        </stock>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <stock>
            <all_settings>
                <enabled>1</enabled>
                <stock_msg>Please hurry only few products are left!!!</stock_msg>
                <stock_items>8</stock_items>
            </all_settings>
        </stock>
    </default>
</config> 
